.contacts {
    padding: 55px 30px 70px;
    text-align: center;
}

.contacts-title {
    font-size: 34px;
    font-weight: 700;
    color: var(--font-color);

}

.contacts-button {
    width: 210px;
    height: 42px;
    background-color: var(--font-color);
    border: none;
    border-radius: 21px;
    margin: 75px 0 40px;
    transition: .3s;
}

.contacts-button:hover {
    opacity: .8;
    transition: .3s;

}

.button-link {
    font-size: 24px;
    font-weight: 500;
    color: var(--bg-main);

}

.socials {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 0 auto;

}

.social-icon {
    height: 65px;
    width: 65px;
    fill: var(--font-color);


}

.social-icon:hover {
    fill: lightblue;
    transition: all .3s;
}

.social-info {
    width: 260px;
    margin: 35px auto 60px;
    font-size: 16px;
    font-weight: 500;
    color: var(--font-color-grey);

}

@media (max-width: 480px) {
    .socials {
        gap: 20px;
    }
    .social-info {
        font-size: 14px;
    }
    .social-icon {
        height: 55px;
        width: 55px;
    }
    
}